<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ใบแจ้งหนี้/ใบแจ้งยอดบัญชีค้างชำระ</title>

</head>

<body>

    <div class="container">
        <div class="row">
            <table border="0" width="33.3333333%" height="10%"   >
                <tr>
                    <td>
                    	<table width="100%" height="80%" style="border-collapse: collapse;
        border-radius: 10px;
        border-style: hidden;
        box-shadow: 0 0 0 1px #666; border: 1;">
                    		<tr><td>
                        <table width="100%" height="100%" border="0" >
                            <tr>
                                <td width="10%" align="center"><span style="font-size:10.5px;">บริษัท นพดลพานิช จำกัด</span></td>
                            </tr>
                            <tr>
                                <td height="10%"><span style="font-size:10.5px;">สำนักงานใหญ่ 392 ถนนซุปเปอร์ไฮเวย์ เชียงใหม่ ลำปางต.ฟ้าฮ่าม อ.เมือง
		                            จ. เชียงใหม่ 50000 สาขา 1:183 หมู่ที่ 2 ต.ต้นเปา อ.สันกำแพง จ.เชียงใหม่ 50130</span></td>
                            </tr>
                        </table>
                    </td></tr>
                    </table>
                    </td>
                </tr>
            </table>

            <table border="0" width="33.3333333%" height="10%">
                <tr>
                    <td></td>
                </tr>
            </table>
            <table border="0" width="33.3333333%" height="10%">
                <tr>
                    <td>
                        <table align="right">
                            <tr>
                                <td>
                                    <table border="0">
                                        <tr>
                                            <td><span style="font-size:10.5px;">ใบแจ้งหนี้/Credit Statement</span></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0">
                                        <tr>
                                            <td><span style="font-size:10.5px;">เลขที่ใบแจ้งหนี้ {{range .}} {{.DocNo}} {{end}}</span></td>
                                        </tr>
                                    </table>
                                </td>
                    </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0">
                                <tr>
                                    <td><span style="font-size:10.5px;">เลขที่ประจำตัวผู้เสียภาษี {{range .}} {{.TaxNo}} {{end}}</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </table>
                    </td>
                </tr>
            </table>
            <table border="0" width="40.3333333%" height="10%">
                <tr>
                    <td>
                    	<table border="1" width="100%" height="80%" style="border-collapse: collapse;
                               border-radius: 10px;
                               border-style: hidden;
                               box-shadow: 0 0 0 1px #666; border: 1;" >
                    		<tr>
                    		<td>
                        <table border="0">
                            <tr>
                                <td width="20%" height="10%" align="center"><span style="font-size:10.5px;">เรื่อง</span></td>
                                <td width="80%" height="10%"><span style="font-size:10.5px;">แจ้งยอดบัญชีถึงกำหนดชำระ</span></td>
                            </tr>
                            <tr>
                                <td align="center"><span style="font-size:10.5px;">เรียน </span></td>
                                <td>
                                    <table border="0" width="100%" height="70%">
                                       <tr>
                                           <td><span style="font-size:10.5px;">ผู้จัดการ/ {{range .}} {{.ArName}} {{end}}
                                               <br/> ที่อยู่ {{range .}} {{.BillAddress}} {{end}}
                                               <br/>
                                           </span></td>

                                       </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td></tr>
                    </table>
                </td>
                </tr>
            </table>
            <table border="0" width="26.3%" height="10%">
                <tr>
                    <td>
                        <table border="0" align="center">
                            <tr>
                                <table border="0" width="90%" align="right" height="100%">
                                    <tr>
                                        <td width="100%" height="90%">
                                            <table border="0" width="100%">
                                                <tr>
                                                    <td width="100%" height="10%" align="center"><span style="font-size:10.5px;">วันที่สรุป {{range .}} {{.DocDate}} {{end}}</span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- <td></td> -->
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table border="0" width="33%" height="10%">
                <tr>
                    <td>
                        <table border="0" height="100%" width="70%" align="right">
                            <tr>
                                <td height="85%" width="30%">
                                    <table border="0" align="right">
                                        <tr>
                                            <td width="100%" height="10%" align="center"><span style="font-size:10.5px;">วันที่ครบกำหนด {{range .}} {{.DueDate}} {{end}}</span></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            </td>
            </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table border="0" width="100%" height="20%">
                <tr>
                    <td>
                        <table border="0" width="100%" height="100%s">
                            <tr>
                                <td height="10%" style="padding-left:2%">
                                    <table border="0" width="100%">
                                        <tr>
                                            <td width="94%"><span style="font-size:10.5px;">ทางบริษัทฯ ใคร่ขอความกรุณาท่านโปรดชำระเงินค่าสินค้าและบริการตามรายการใบกำกับข้างล่างนี้</span></td>

                                            <td align="right" >
                                                <button type="submit" name="Submit" value=" พิมพ์ " onClick="javascript:this.style.display='none';window.print()">
                                                    <img src="../templates/printer.png" width="50%" height="10%" alt="submit" />
                                                </button>
                                            </td>
                                        </tr>

                                    </table>


                                     </td>

                            </tr>
                            <tr>
                                <td height="90%">
                                    <table width="100%" height="100%" border="1">
                                        <tr align="center" bgcolor="#1e90ff">
                                            <th width="3%" ><span style="font-size:10.5px;">No</span></th>
                                            <th ><span style="font-size:10.5px;">ใบกำกับสินค้า</span></th>
                                            <th width="8%" ><span style="font-size:10.5px;">วันที่</span></th>
                                            <th width="8%" ><span style="font-size:10.5px;">วันครบกำหนด</span></th>
                                            <th width="8%" ><span style="font-size:10.5px;">จำนวนเงิน</span></th>
                                            <th width="8%" ><span style="font-size:10.5px;">ชำระแล้ว</span></th>
                                            <th width="8%" ><span style="font-size:10.5px;">ยอดคงค้าง</span></th>
                                            <th  ><span style="font-size:10.5px;">รายการสินค้า</span></th>

                                        </tr>
                                        {{range .}} {{range .Subs}}
                                        <tr align="center">
                                            <td><span style="font-size:10.5px;">{{.LineNumber}}</span></td>
                                            <td><span style="font-size:10.5px;">{{.InvoiceNo}}</span></td>
                                            <td><span style="font-size:10.5px;">{{.InvoiceDate}}</span></td>
                                            <td><span style="font-size:10.5px;">{{.DueDateSub}}</span></td>
                                            <td align="right"><span style="font-size:10.5px;">{{.PayAmount}}</span></td>
                                            <td><span style="font-size:10.5px;"></span></td>
                                            <td align="right"><span style="font-size:10.5px;">{{.InvBalance}}</span></td>
                                            <td><span style="font-size:10.5px;">{{.ItemName}}</span></td>
                                        </tr>
                                        {{end}} {{end}}
                                        <tr align="center" bgcolor="#1e90ff">
                                            <td colspan="2"><span style="font-size:10.5px;"> รวมเป็นเงิน</span></td>
                                            <td colspan="4"><span style="font-size:10.5px;">{{ range .}} {{ .AmountText}} {{end}}</span></td>
                                            <td align="right"><span style="font-size:10.5px;">{{ range .}} {{ .SumOfInvoice}} {{end}}</span></td>
                                            <td><span style="font-size:10.5px;"></span></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <span style="font-size:10.5px;"> และท่านยังมียอดค้างชำระที่ไม่รวมยอดที่แจ้งข้างต้นอีก ดังนี้</span>
            <table border="0" width="100%" height="20%">
                <tr>
                    <td>
                        <table border="1" width="100%" height="90%">
                            <tr align="center" bgcolor="#ffa07a">
                                <td width="3%"><span style="font-size:10.5px;">ลำดับ</span></td>
                                <td width="18%^"><span style="font-size:10.5px;">เดือน/ปี</span></td>
                                <td width="20%"><span style="font-size:10.5px;">ยอดเงินคงค้าง</span></td>
                                <td width="35%"><span style="font-size:10.5px;">หมายเหตุ</span></td>
                            </tr>
                            {{ range .}} {{range .Balance}}
                            <tr align="center">
                                <td><span style="font-size:10.5px;">{{.RowNumber}}</span></td>
                                <td><span style="font-size:10.5px;">{{.MonthName}}</span></td>
                                <td align="right"><span style="font-size:10.5px;">{{.MonthBalance}}</span></td>
                                <td><span style="font-size:10.5px;"></span></td>
                            </tr>
                            {{end}} {{end}}
                            <tr bgcolor="#ffa07a">
                                <td colspan="2" align="right"><span style="font-size:10.5px; font-weight:bold;"> ผลรวมยอดค้างชำระ</span></td>
                                <td align="right"><span style="font-size:10.5px;">{{range .}}{{.ArDebtBalance}} {{end}}</span></td>
                                <td colspan="2" align="right"><span style="font-size:10.5px; font-weight:bold;"></span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table border="0" width="100%" height="5%">
                <tr>
                    <td><span style="font-size:10.5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หากยอดที่แจ้งข้างต้นไม่ถูกต้องโปรดทักท้วงไปยังบริษัทฯ ภายใน 7 วัน นับแต่
		ได้รับใบแจ้งหนี้ มิฉะนั้นบริษัทฯ จะถือว่ายอดที่แจ้งข้างต้นถูกต้องแล้ว กรณีชำระล่าช้าบริษัท ฯ ขอคิดดอกเบี้ยในอัตรา 1.25%
	ต่อเดือน และค่าบริการติดตามอีก 0.75% รวมเป็น 2% ต่อเดือน สำหรับใบส่งสินค้าที่ไม่ชำระตามกำหนด ท่านสามารถชำระ
โดยการโอนเข้าบัญชี บริษัทนพดลพานิช จำกัด ดังนี้</span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table border="0" width="100%" height="15%">
                <tr>
                    <td align="center">
                        <img src="../templates/bank.PNG" width="25%" height="65%">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table border="0" width="100%" height="5%">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><span style="font-size:10.5px;">เมื่อมีการโอนเงินให้กับบริษัทฯ ขอความกรุณาแจ้ง/ส่งรายละเอียดการชำระให้ทาง
					E-mail: cd@nopadol.com, Line:081-8837619 , Fax: 053-244111</span></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span style="font-size:10.5px; font-weight: bold; text-decoration: underline;">หมายเหตุ</span><span style="font-size:10.5px;"> ท่านยังคงมีบัญชีเก่าที่ได้แจ้งหนี้ไปแล้ว และยังไม่ได้ชำระดังนี้</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table border="0" width="100%" height="5%">
                <tr>
                    <td>
                        <table border="0" width="50%">
                            <tr>
                                <td width="10%"></td>
                                <td width="90%"><span style="font-size:10.5px;">บริษัท ฯ ต้องขออภัย ณ ที่นี่ด้วย หากท่านชำระยอดคงค้างเรียบร้อยแล้ว</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table border="0" width="100%" height="5%">
                <tr>
                    <td>
                        <table border="0" width="95%">
                            <tr>
                                <td width="20%" align="center"><span style="font-size:10.5px;">ติดต่อแผนกสินเชื่อ</span></td>
                                <td width="80%"><span style="font-size:10.5px;"> โทร (053) 240377 ต่อ 500,511,512, โทรสาร (053) 244111
						</span></td>
                            </tr>
                            <tr>
                                <td width="20%"></td>
                                <td width="80%"><span style="font-size:10.5px;">โทร 081-8837619 คุณธนยศ,คุณเบญจวรรณ โทร. 081-6710875
						 คุณณัฎฐ์ชยาภรณ์ โทร.081-6815780 คุณวิไลวรรณ</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
